@font-face {
  font-family: "ubunturegular";
  src: url("./Fonts/ubuntu-regular-webfont.woff2") format("woff2"),
    url("./Fonts/ubuntu-regular-webfont.woff") format("woff"),
    url("./Fonts/ubuntu-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "ubunturegular" !important;
  background-color: #212121;
  padding: 0;
  margin: 0;
}
.input-container {
  width: 70%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-col1-container {
  display: flex;
  align-items: center;
}
.logo {
  padding: 10px;
  border-radius: 50%;
  border: 5px solid rgb(17, 106, 151);
  width: fit-content;
}
#logo-icon {
  color: #b7b7b7;
  width: 55px;
}
.header {
  font-size: 55px;
  color: #b7b7b7;
  letter-spacing: 4px;
  margin-right: 15px;
}
.input-col2-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.input-field {
  background-color: transparent;
  margin-bottom: 15px;
  border: 1px solid rgb(17, 106, 151);
  height: 30px;
  font-size: 16px;
  color: #b7b7b7;
}
.field-btn {
  width: fit-content;
  border: 1px solid rgb(17, 106, 151);
  padding: 10px 75px;
  color: #b7b7b7;
  background-color: rgb(17, 106, 151);
  font-size: 16px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  transition: 0.3s ease;
}
.field-btn:hover {
  background-color: transparent;
  border: 1px solid #b7b7b7;
  color: #b7b7b7;
  cursor: pointer;
}
.input-col2-row2 {
  display: flex;
  align-items: center;
}
.input-text {
  color: #b7b7b7;
  font-size: 16px;
}
#signup {
  margin-left: 3px;
  color: rgb(17, 106, 151);
  transition: 0.3s ease;
}
#signup:hover {
  color: #b7b7b7;
  cursor: pointer;
}
